$textColour: blanchedalmond;
$breakpoint: 980px;

@mixin link-box($backcolour, $text, $height, $width) {
    text-align: center;
    background-color: $backcolour;
    color: $text;
    height: $height;
    width: $width;
    border-radius: $height/10;
    border: $height/10 solid lighten($color: $backcolour, $amount: 25%);
    margin: auto;
    margin-bottom: 10px;
    transition: 0.5s;
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(359deg);
    }
    to {
        transform: rotateZ(359deg) rotateX(359deg) rotateY(0deg);
    }
}

.rotate {
    animation: rotation 10s infinite linear;
}

.link-box-container {
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.title-face-container {
    font-family: "Press Start 2P", cursive;
    font-size: 8pt;
    margin: auto;
    .title {
        text-align: center;
        margin-top: 25px;
    }
    .profile-img-container {
        height: 200px;
        img {
            margin: 10px 100px;
            border: 5px solid $textColour;
            border-radius: 50%;
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-width: 4px;
        }
    }
}

a {
    text-decoration: none !important;
}

.cube-button-container {
    float: left;
    margin: 50px;
    transition: 2s;
    @media (max-width: $breakpoint) {
      transform: scale(2);
      margin: 175px auto 0 auto;
      display: block;
      max-width: 22%;
      float: none;
    }
    .arrow {
        border: solid #ffffff;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 12px;
        margin-right: 30px;
        background: rgba(0, 0, 0, 0);
    }
    .controls {
        opacity: 50%;
        transition: 0.3s;
    }
    .controls:hover {
        opacity: 100%;
    }
    .rotate-button {
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 5px #999;
        float: left;
        @media (max-width: $breakpoint) {
            float: right;
            transform: translateY(-110px);
          }
    }
    .rotate-button:active {
        box-shadow: 0 2px #999;
        transform: translateY(3px);
    }
    .right-button {
        transform: rotate(-45deg);
        box-shadow: 5px 5px #999;
    }
    .right-button:active {
        transform: rotate(-45deg) translateX(3px) translateY(3px);
        box-shadow: 2px 2px #999;
    }
    .left-button {
        transform: rotate(135deg);
        box-shadow: 5px 5px #999;
    }
    .left-button:active {
        transform: rotate(135deg) translateX(3px) translateY(3px);
        box-shadow: 2px 2px #999;
    }
    .up-button {
        transform: rotate(-135deg) translateX(52px) translateY(100px);
        box-shadow: 5px 5px #999;
    }
    .up-button:active {
        transform: rotate(-135deg) translateX(55px) translateY(103px);
        box-shadow: 2px 2px #999;
    }
    .down-button {
        transform: rotate(45deg) translateX(-52px) translateY(-5px);
        box-shadow: 5px 5px #999;
    }
    .down-button:active {
        transform: rotate(45deg) translateX(-49px) translateY(-2px);
        box-shadow: 2px 2px #999;
    }
    .reset-button {
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #ffffff;
        transform: translateX(34px) translateY(-40px);
        text-align: center;
        color: black;
        .reset-text {
            margin-top: 15px;
        }
        border: 4px solid grey;
    }
    .reset-button:active {
        transform: translateX(34px) translateY(-40px) scale(1.2);
    }
}

.cube-holder {
    padding-top: 300px;
    transition: 1s;
}

.links-table {
    font-family: "Poppins", sans-serif;
    .links-table-row {
        @include link-box(#3fa1e2, $textColour, 100px, 250px);
        font-size: 14pt;
    }
    .links-table-row:hover {
        @include link-box($textColour, #3fa1e2, 100px, 300px);
        font-size: 16pt;
    }
    img {
        float: left;
        margin: 20px;
        height: 60px;
    }
}

.fun-buttons {
    margin: 0 113px;
    .image-change-button {
        @include link-box(#3fa1e2, #000000, 45px, 125px);
        font-size: medium;
    }
    .image-change-button:hover {
        @include link-box(#000000, #3fa1e2, 45px, 125px);
        font-size: medium;
    }
    .weird-button {
        @include link-box(#3fa1e2, #000000, 45px, 35px);
        font-size: medium;
    }
    .weird-button:hover {
        @include link-box(#000000, #3fa1e2, 45px, 35px);
        font-size: medium;
    }
}

.spotify-playlist-title {
    height: 34px;
    text-align: center;
    padding: 8px 0;
    font-size: smaller;
}

.dark-mode {
    background-color: black;
    color: $textColour;
}

.shape-cube {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: rotateX(48deg) rotateY(0deg) rotateZ(45deg);
    margin: auto;
    transition: 0.4s;
}
.shape-cube .tcface {
    width: 100%;
    height: 100%;
    position: absolute;
}
.shape-cube .title-face {
    background: #a93c84;
    transform: rotateX(0deg) translateZ(400px);
}
.shape-cube .bottom {
    background: #4076df;
    transform: rotateX(180deg);
}
.shape-cube .right {
    background: #f253d8;
    transform: rotateY(90deg) rotatez(-90deg) translateZ(400px) translateX(0px);
    transform-origin: 0 100%;
    width: 400px;
    height: 400px;
}
.shape-cube .left {
    background: #2876ed;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-400px);
    transform-origin: 0 0;
    width: 400px;
    height: 400px;
}
.shape-cube .back {
    background: #acf7f4;
    transform: rotateX(90deg) rotatez(180deg) translateY(-200px) translateZ(200px);
    height: 400px;
}
.shape-cube .front {
    background: #9a78df;
    transform: rotateX(-90deg) translateY(-200px) translateZ(200px);
    height: 400px;
}

$pink: #FF8FDE;
$blue: #618BFF;

$animtime: 1.5s;
$easing: cubic-bezier(0.68, -0.15, 0.265, 1.35);
$iteration: 1;

.toggle-body {
  width: 7rem;
  height: 4rem;
  position: absolute;
  top: calc(50% - 4rem / 2);
  left: calc(50% - 7rem / 2);
  background: white;
  border-radius: 2rem;
  animation: angle-reverse $animtime $easing;
}
.toggle-body--on {
  animation: angle $animtime $easing;
  animation-direction: alternate;
}
.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 2rem / 2);
  left: calc(27% - 2rem / 2);
  background: white;
  border-radius: 2rem;
  background: $blue;
  cursor: pointer;
  transform:  translateX(0);
  transition: $animtime $easing;
}
.toggle-btn--on {
  transition: $animtime $easing;
  transform:  translateX(150%);
  background: $pink;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 100px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes angle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes angle-reverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
