$textColour: blanchedalmond;

@mixin link-box($backcolour, $text, $height, $width) {
    text-align: center;
    background-color: $backcolour;
    color: $text;
    height: $height;
    width: $width;
    border-radius: $height/10;
    border: $height/10 solid lighten($color: $backcolour, $amount: 25%);
    margin: auto;
    margin-bottom: 10px;
    transition: 0.5s;
}

body {
    font-size: 8pt;
}

.link-box-container {
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.title-face-container {
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    .title {
        text-align: center;
        margin-top: 25px;
    }
    .profile-img-container {
        height: 200px;
        img {
            margin: 10px 100px ;
            border: 5px solid $textColour;
            border-radius: 50%;
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-width: 4px;
        }
    }
}

a {
    text-decoration: none !important;
}

.cube-button-container {
    float: left;
    margin: auto;
}

.cube-holder {
    padding-top: 300px;
}

.links-table {
    font-family: 'Poppins', sans-serif;
    .links-table-row {
        @include link-box(#3fa1e2, $textColour, 100px, 250px);
        font-size: x-large;
    }
    .links-table-row:hover {
        @include link-box($textColour, #3fa1e2, 100px, 300px);
        font-size: x-large;
    }
    img {
        float: left;
        margin: 20px;
        height: 60px;
    }
}

.fun-buttons {
    margin: 0 113px;
    .image-change-button {
        @include link-box(#3fa1e2, #000000, 45px, 125px);
        font-size: medium;
    }
    .image-change-button:hover {
        @include link-box(#000000, #3fa1e2, 45px, 125px);
        font-size: medium;
    }
    .weird-button {
        @include link-box(#3fa1e2, #000000, 45px, 35px);
        font-size: medium;
    }
    .weird-button:hover {
        @include link-box(#000000, #3fa1e2, 45px, 35px);
        font-size: medium;
    }
}

.dark-mode {
    background-color: black;
    color: $textColour;
}

.shape-cube {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: rotateX(48deg) rotateY(0deg) rotateZ(45deg);
    margin: auto;
}
.shape-cube .tcface {
    width: 100%;
    height: 100%;
    position: absolute;
}
.shape-cube .title-face {
    background: #a93c84;
    transform: rotateX(0deg) translateZ(400px);
}
.shape-cube .bottom {
    background: #4076df;
}
.shape-cube .right {
    background: #f253d8;
    transform: rotateY(90deg) rotatez(-90deg) translateZ(400px) translateX(0px);
    transform-origin: 0 100%;
    width: 400px;
    height: 400px;
}
.shape-cube .left {
    background: #2876ed;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-400px);
    transform-origin: 0 0;
    width: 400px;
    height: 400px;
}
.shape-cube .back {
    background: #acf7f4;
    transform: rotateX(90deg) rotatez(180deg) translateY(-200px) translateZ(200px);
    height: 400px;
}
.shape-cube .front {
    background: #9a78df;
    transform: rotateX(-90deg) translateY(-200px) translateZ(200px);
    height: 400px;
}
